.loadingscreen{
    background-color: #111111;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: absolute;
}

.loadingscreen img{
    width: 12%;
}